.container{
    width: 440px;
    height: 80vh;
    border: 2px solid black;
    margin: auto;
    background-color: azure;
    border-radius: 12px;
}
.card img{
    padding: 5px;
    border-radius: 20px;
}

.filter{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

button{
    border: 12px;
    color: rgb(18, 7, 7);
    margin-left: 10px;
    height: 20px;
    width: 60px;
    font-weight: 800;
}
.para{
    flex-wrap: wrap;
    text-align: center;
}
.para button{
    width: 132px;
    height: 27px;
    font-size: 13px;
    font-weight: 800;
    border-radius: 12px;
}

button:hover{
    cursor: pointer;
    background-color: #69bd35;
}