*{
    margin: 0;
    padding: 0;
}
body{

    background-color: black !important;
}
nav{
    height: 10vh;
    display: flex;
}
.logo{
    width: 16vw;
    padding-top: 16px;
}


.logo ul li{
    list-style-type: none;
    text-align: end;
}

.logo ul li a{
    text-decoration: none;
    color: white;
    font-size: 26px;
    padding-top: 8px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-right{
    width: 40vw;
    /* border: 2px solid red; */
    /* background-color: black; */
    padding: 10px;
}
.signup,
.logo-right ul li{
    padding: 10px;
    border-radius: 20px;
}

.logo-right ul{
    display: flex;
    list-style-type: none;
    /* padding-left: 30px; */
}
.signup,
.logo-right, ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.logo-right ul li:hover{
    background-color: rgb(51, 51, 51);
}


.signup ul{
    width: 44vw;
    display: flex;
    align-items: end;
    justify-content: center;
    /* border: 2px solid red; */
}

.signup ul li{
    padding: 10px;
    border-radius: 20px;
    list-style-type: none;
}

.signup ul li:hover{
    background-color: rgb(51, 51, 51);
}

.signup  button{
    width: 100px;
    height: 40px;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 20px;
    /* margin-bottom: px; */
}

.ride{
    background-color: black;
    color: white;
    height: 80vh;
    display: flex;
}


.left-side{
    width: 30vw;
    /* border: 2px solid red; */
    margin-left: 156px;
    margin-top: 204px;
}   


.ride .left-side h2{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
}

.ride .left-side p{
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 64px;
}

.ride .left-side form{
    display: flex;
    flex-direction: column;
}

.ride .left-side form 
#location,#destination,button
{
    width: 24vw;
    height: 10vh;
    border-radius: 15px;
    font-size: 34px;
    margin: 4px;
}

.ride .left-side form 
#location::placeholder{
    font-size: 24px;
    padding-left: 10px;
}
.ride .left-side form 
#destination::placeholder{
    font-size: 24px;
    padding-left: 10px;
}

.ride .left-side button{
    width: 12vw;
    margin-top: 20px;
}

.right-side{
    margin: 60px;
}

.car{
    width: 100vw;
    height: 100vh;
    margin-top: 360px;
    background-color: #fff;
    padding-top: 20px;
    display: flex;
}

.driver-car{
    width: 843px;
    height: 723px;
    margin-top: 44px;
    padding-left: 150px;
}

.drive{
    width: 25vw;
    background-color: #fff;
    color: rgb(4, 4, 3);
    margin: 78px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.drive h2{
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 30px;
}
.get-started button{
    width: 180px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 12px;
    /* margin-left: -15px; */
    cursor: pointer;
    margin-top: 40px;
}

.get-started a{
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.car1{
    background-color: white;
    color: black;
    display: flex;
    padding: 63px;
}

.car2{
    background-color: white;
    display: flex;
}

.car2 .get-started button{
    margin-left: -200px;
}

.separator{
    height: 25vh;
    background-color: #f5ecec;
}

.separator h1{
    font-size: 67px;
    padding-top: 48px;
    padding-left: 28px;
}

footer{
    width: 100%;
    height: 65vh;
    color: white;
    display: flex;
}
.products,
.global,
.travel,
.company{
    width: 25vw;
    /* text-align: center; */
    padding: 100px;
}

.products,
.global,
.travel,
.company,
ul li{
    list-style-type: none;
    padding-top: 30px;
    cursor: pointer;
    font-size: 20px;
}

