body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    border: 2px solid red;
    height: 30px;
    background-color: rgb(9, 81, 81);
    color: black;
    padding: 4px;
    text-align: center;
    font-size: 26px;
    margin: 4px;
}

.nav{
    border: 2px solid red;
    height: 30px;
    background-color: rgb(20, 194, 194);
    color: black;
    padding: 4px;
    text-align: center;
    font-size: 26px;
    margin: 4px;
}

.container{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
}
.aside{
    border: 2px solid red;
    width: 725px;
    text-align: center;
}
.article{
    border: 4px solid black;
    background-color: coral;
    color: black;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.section{
    border: 2px solid rgb(8, 6, 6);
    width: 800px;
    text-align: center;
    position: relative;
}
.section > div{
    border-bottom: 0;
}
.footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

}
/* .header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #eee;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

main {
    flex: 1;
    padding: 20px;
}

article, section, aside {
    flex: 1 1 calc(50% - 20px);
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
} */
